# 2.s986, Wed 17 September, 2020, Alban Cobi

#### a) Code below imports packages/libraries for managing the data. pandas library is for 'working' with data sets

In [2]:
import pandas as pd #package for working with data sets
from matplotlib import pyplot as plt #'from library import function', package for plotting/visualizing data
import numpy as np #package for scientific/numerical computing
import seaborn as sb #package for statistical graphics
from sklearn import preprocessing #for normalizing dataset

In [3]:
%ls

BostonHousingData_clean.xlsx  Dataset.data     Dataset.spec  price/
boston_housing_dataset.ipynb  Dataset.data.gz  nox/          source/

#### b) Code below reads data and stores it in a data type called 'data'

In [4]:
data = pd.read_excel('BostonHousingData_clean.xlsx') #This line creates a DataFrame object and stores it in variable 'data'
type(data) #type() spits out the data type such as string, list, etc.

pandas.core.frame.DataFrame

In [5]:
data

,0.00632,18.00000,2.31000,0.00000,0.53800,6.57500,65.20000,4.09000,1.00000,296.00000,15.30000,396.90000,4.98000,24.00000
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273.0,21,391.99,9.67,22.4
501,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273.0,21,396.90,9.08,20.6
502,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273.0,21,396.90,5.64,23.9
503,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273.0,21,393.45,6.48,22.0
504,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1,273.0,21,396.90,7.88,11.9

Code below displays the columns of the data

In [6]:
data_columns=['Crime rate [/capita]', # set column names
         'Land zoned [-]',
         'proportion of non-retail business acres per town [-]',
         'Next to Charles river? [1-yes, 0-no]',
         'Nitric oxides concentration [ppm]',
         'Rooms [rooms/dwelling]',
         'Proportion of owner-occupied units built before 1940 []',
         'weighted distances to five Boston employment centres []',
         'index of accessibility to radial highways []',
         'full-value property-tax rate per $10,000 []',
         'pupil-teacher ratio by town [-]',
         '1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town []',
         '% lower status of the population []',
         'Median value of owner-occupied homes in $1000s []']
data.columns = data_columns
data

,Crime rate [/capita],Land zoned [-],proportion of non-retail business acres per town [-],"Next to Charles river? [1-yes, 0-no]",Nitric oxides concentration [ppm],Rooms [rooms/dwelling],Proportion of owner-occupied units built before 1940 [],weighted distances to five Boston employment centres [],index of accessibility to radial highways [],"full-value property-tax rate per $10,000 []",pupil-teacher ratio by town [-],1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town [],% lower status of the population [],Median value of owner-occupied homes in $1000s []
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273.0,21,391.99,9.67,22.4
501,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273.0,21,396.90,9.08,20.6
502,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273.0,21,396.90,5.64,23.9
503,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273.0,21,393.45,6.48,22.0
504,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1,273.0,21,396.90,7.88,11.9

Code below to check number(length) of rows and columns

In [7]:
len(data) #number of rows

505

In [8]:
len(data.columns) #number of columns

14

#### d) Code below eliminates 'Column 7' from data set

In [9]:
del data_columns[7]
print(data.columns)

Index(['Crime rate [/capita]', 'Land zoned [-]',
       'proportion of non-retail business acres per town [-]',
       'Next to Charles river? [1-yes, 0-no]',
       'Nitric oxides concentration [ppm]', 'Rooms [rooms/dwelling]',
       'Proportion of owner-occupied units built before 1940 []',
       'weighted distances to five Boston employment centres []',
       'index of accessibility to radial highways []',
       'full-value property-tax rate per $10,000 []',
       'pupil-teacher ratio by town [-]',
       '1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town []',
       '% lower status of the population []',
       'Median value of owner-occupied homes in $1000s []'],
      dtype='object')

#### Below I am treating rows that contain null data. I this case only column 10 has some rows that contain a backslash. I am finding the backslash and replacing it with a NaN and then deleting that entire row.

In [10]:
data['pupil-teacher ratio by town [-]'].replace('\\', np.nan, inplace=True)
data.dropna(subset=['pupil-teacher ratio by town [-]'], inplace=True)
len(data)

451

#### e) Normalize data with mean 0 and standard deviation 1 and check that it's normalized

In [26]:
%who

data	 data_cols	 data_columns	 data_columnss	 np	 pd	 plt	 preprocessing	 sb

In [11]:
data.head() # similar to command: print(data_normalized)

,Crime rate [/capita],Land zoned [-],proportion of non-retail business acres per town [-],"Next to Charles river? [1-yes, 0-no]",Nitric oxides concentration [ppm],Rooms [rooms/dwelling],Proportion of owner-occupied units built before 1940 [],weighted distances to five Boston employment centres [],index of accessibility to radial highways [],"full-value property-tax rate per $10,000 []",pupil-teacher ratio by town [-],1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town [],% lower status of the population [],Median value of owner-occupied homes in $1000s []
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

In [12]:
data_normalized = preprocessing.scale(data) # Function normalizes data by column
data_normalized[:10] # similar to bash command head but only displays number of rows specified after ":"

array([[-0.55977934, -0.52249374, -0.47926713, -0.29005968, -0.63103717,
         0.11695436,  0.47432119,  0.44182569, -0.7746346 , -0.8965103 ,
        -0.20661482,  0.39586392, -0.37668687, -0.24406724],
       [-0.55978735, -0.52249374, -0.47926713, -0.29005968, -0.63103717,
         1.26286567, -0.15852224,  0.44182569, -0.7746346 , -0.8965103 ,
        -0.20661482,  0.33648475, -1.20773035,  1.24311679],
       [-0.55775129, -0.52249374, -1.19979976, -0.29005968, -0.72768463,
         0.98238738, -0.70248318,  0.96567394, -0.64194938, -1.02871648,
         0.20328233,  0.36274581, -1.38499794,  1.09553364],
       [-0.5430499 , -0.52249374, -1.19979976, -0.29005968, -0.72768463,
         1.20587009, -0.40383796,  0.96567394, -0.64194938, -1.02871648,
         0.20328233,  0.39586392, -0.99631028,  1.41340504],
       [-0.5587613 , -0.52249374, -1.19979976, -0.29005968, -0.72768463,
         0.13045332, -0.24384945,  0.96567394, -0.64194938, -1.02871648,
         0.20328233,  0.35530517, -1.01582598,  0.5619638 ],
       [-0.53533849, -0.00861404, -0.36138858, -0.29005968, -0.14779989,
        -0.49649816,  0.03701927,  0.72568246, -0.37657892, -0.440399  ,
        -1.39076214,  0.3768976 ,  0.15836852, -0.09648409],
       [-0.51278942, -0.00861404, -0.36138858, -0.29005968, -0.14779989,
        -0.25651673,  1.08583283,  0.91224151, -0.37657892, -0.440399  ,
        -1.39076214,  0.39586392,  1.25124761,  0.380323  ],
       [-0.48606   , -0.00861404, -0.36138858, -0.29005968, -0.14779989,
        -1.06795393,  1.22448954,  0.97519324, -0.37657892, -0.440399  ,
        -1.39076214,  0.24603   ,  3.00440782, -0.82304728],
       [-0.50257301, -0.00861404, -0.36138858, -0.29005968, -0.14779989,
        -0.50849723,  0.72319221,  1.21915507, -0.37657892, -0.440399  ,
        -1.39076214,  0.24719716,  0.91785444, -0.55058608],
       [-0.48058907, -0.00861404, -0.36138858, -0.29005968, -0.14779989,
         0.05095947,  1.02183743,  1.10176638, -0.37657892, -0.440399  ,
        -1.39076214,  0.33196201,  1.46266768, -0.99333552]])